<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Учёт расходов</title>
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/index.css">

    <script type="text/javascript" src="/static/js/get_mobile_os.js"></script>
</head>
<body>
    <#include "/patterns/nav_pattern.html">

    <article>
        <section class="page-block wallets">
            <div class="header">
                <a href="/wallets" class="text-link"> Кошельки </a>
            </div>
            <div class="page-subblock content">
                <#if 0 == clientUser.wallets?size>
                    <a href="/wallets" class="text-link" title="Создать кошелёк">Нет кошельков...</a>
                <#else>
                    <#list clientUser.wallets as wallet>
                        <div class="wallet">
                            <a class="name text-link" href="${wallet.walletURL}">${wallet.name}</a>
                            <#if 0 <= wallet.totalAmount>
                                <span class="amount more-zero">${wallet.totalAmount}${wallet.amountCurrency}</span>
                            <#else>
                                <span class="amount less-zero">${wallet.totalAmount}${wallet.amountCurrency}</span>
                            </#if>
                        </div>
                    </#list>
                </#if>
            </div>
        </section>
    </article>

    <#include "/patterns/make_popup.html">
</body>
</html>